---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="grid md:grid-cols-2">
    <Header title={SITE_TITLE} />
    <section
      id="about"
      class="grid place-items-center p-8 md:bg-stone-900 text-base md:text-lg md:text-slate-100 text-center"
    >
      <div class="space-y-2">
        <h2 class="text-2xl">About me</h2>
        <p>
          Hello, my name is Jan Sháněl and I come from the Czech Republic. I am
          a self taught web developer who likes to create highly interactive web
          applications. I like to study new possibilities that development tools
          and libraries offer for delivering the best possible result to the
          user.
        </p>
        <p>
          My original field of study was geoinformatics and cartography. I
          believe it brought me the ability to think critically about
          application designs and requirements. In addition, I maintain an
          active awareness of maps and their libraries on the web.
        </p>
        <p>
          In my spare time, I enjoy riding my road bike or running through the
          woods with a map. As a more passive recreation, I won't turn down a
          good series or a computer game once in a while.
        </p>
      </div>
    </section>
    <section
      id="skills"
      class="grid place-items-center p-8 text-base text-center"
    >
      <div class="space-y-2">
        <h2 class="text-2xl">Skills</h2>
        <h3 class="text-lg">Recently used</h3>
        <ul>
          <li>Vue3 in SPA mode (Pinia, PrimeVue)</li>
          <li>Plain JS + TS</li>
          <li>Astro static</li>
          <li>OpenLayers (map library)</li>
          <li>HTML + CSS (TailWind)</li>
          <li>NodeJS (Express)</li>
        </ul>
        <h3 class="text-lg">More or less dated</h3>
        <ul>
          <li>React, AngularJs</li>
          <li>Leaflet, MapboxGL</li>
          <li>GIS analysis (QGIS)</li>
          <li>Python scripting</li>
          <li>DB management (Postgres + Postgis)</li>
        </ul>
      </div>
    </section>
    <section
      id="portfolio"
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    >
      <div class="space-y-2">
        <h2 class="text-2xl">Portfolio</h2>
        <div
          class="card-tramod max-w-sm bg-contain border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
        >
          <div class="h-50"></div>
          <div class="p-5 bg-white/75">
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Traffic Modeller
            </h5>
            <p class="mb-3">
              <span
                class="bg-yellow-100 text-yellow-800 border-yellow-800 border-1 font-medium mr-2 px-2.5 py-0.5 rounded"
                >Work</span
              >
              <span
                class="bg-indigo-100 text-indigo-800 border-indigo-800 border-1 font-medium mr-2 px-2.5 py-0.5 rounded"
                >Vue</span
              >
              <span
                class="bg-indigo-100 text-indigo-800 border-indigo-800 border-1 font-medium mr-2 px-2.5 py-0.5 rounded"
                >OpenLayers</span
              >
            </p>
            <p class="mb-3 font-bold text-gray-900 dark:text-gray-400">
              Traffic models and data disply with heavy client side interactions
            </p>
            <a
              href="https://plzen.trafficmodeller.com"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300"
            >
              <span class="text-xl i-ph-app-window-bold"></span>
              <span class="ml-2">App</span>
            </a>
            <a
              href="https://gitlab.com/tramod/webapp-client-dta"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300"
            >
              <span class="text-xl i-ph-code-bold"></span>
              <span class="ml-2">Code (partial, no history)</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section
      id="contact"
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    >
      <h2 class="text-2xl">Contact</h2>
      <div class="flex justify-items-center">
        <a href="https://github.com/ChcJohnie"
          ><span class="text-4xl i-ph-github-logo-fill"></span></a
        >

        <a href="https://www.linkedin.com/in/jan-sháněl-b4abab131/"
          ><span class="text-4xl i-ph-linkedin-logo-fill"></span></a
        >
      </div>
    </section>

    <Footer
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    />
    <style>
      .card-tramod {
        background-image: url('/PortfolioTramod.jpg');
      }
    </style>
  </body>
</html>
