---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="grid md:grid-cols-2">
    <Header title={SITE_TITLE} />
    <section
      id="about"
      class="grid place-items-center p-8 md:bg-stone-900 text-base md:text-lg md:text-slate-100 text-center"
    >
      <div class="space-y-2">
        <h2 class="text-2xl">About me</h2>
        <p>
          Hello, my name is Jan Sháněl and I come from the Czech Republic. I am
          a self taught web developer who likes to create highly interactive web
          applications. I like to study new possibilities that development tools
          and libraries offer for delivering the best possible result to the
          user.
        </p>
        <p>
          My original field of study was geoinformatics and cartography. I
          believe it brought me the ability to think critically about
          application designs and requirements. In addition, I maintain an
          active awareness of maps and their libraries on the web.
        </p>
        <p>
          In my spare time, I enjoy riding my road bike or running through the
          woods with a map. As a more passive recreation, I won't turn down a
          good series or a computer game once in a while.
        </p>
      </div>
    </section>
    <section
      id="skills"
      class="grid place-items-center p-8 text-base text-center"
    >
      <div class="space-y-2">
        <h2 class="text-2xl">Skills</h2>
        <h3 class="text-lg">Recently used</h3>
        <ul>
          <li>Vue3 in SPA mode (Pinia, PrimeVue)</li>
          <li>Plain JS + TS</li>
          <li>Astro static</li>
          <li>OpenLayers (map library)</li>
          <li>HTML + CSS (TailWind)</li>
          <li>NodeJS (Express)</li>
        </ul>
        <h3 class="text-lg">More or less dated</h3>
        <ul>
          <li>React, AngularJs</li>
          <li>Leaflet, MapboxGL</li>
          <li>GIS analysis (QGIS)</li>
          <li>Python scripting</li>
          <li>DB management (Postgres + Postgis)</li>
        </ul>
      </div>
    </section>
    <section
      id="portfolio"
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    >
      <div class="space-y-2">
        <h2 class="text-2xl">Portfolio</h2>
        <span>Work in progress, contact me for my latest work</span>
      </div>
    </section>
    <section
      id="contact"
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    >
      <h2 class="text-2xl">Contact</h2>
      <div class="flex justify-items-center">
        <a href="https://github.com/ChcJohnie"
          ><span class="text-4xl i-ph-github-logo-fill"></span></a
        >

        <a href="https://www.linkedin.com/in/jan-sháněl-b4abab131/"
          ><span class="text-4xl i-ph-linkedin-logo-fill"></span></a
        >
      </div>
    </section>

    <Footer
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    />
  </body>
</html>
