---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import PortfolioCard from '../components/PortfolioCard.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import BaseButton from '../components/common/Button.astro';

import type { Portfolio } from '../types/Portfolio';

const portfolios: Portfolio[] = [
  {
    imageUrl: '/PortfolioTramod.jpg',
    title: 'Traffic Modeller',
    info: 'Traffic models and data display with heavy client side interactions',
    badges: [
      { text: 'Work', type: 'primary' },
      { text: 'Vue3', type: 'secondary' },
      { text: 'OpenLayers', type: 'secondary' },
    ],
    anchors: [
      {
        url: 'https://plzen.trafficmodeller.com',
        type: 'app',
      },
      {
        text: 'Code (partial, no history)',
        url: 'https://gitlab.com/tramod/webapp-client-dta',
        type: 'code',
      },
    ],
  },
  {
    imageUrl: '/PortfolioSite.jpg',
    title: 'My website',
    badges: [
      { text: 'Personal', type: 'primary' },
      { text: 'ASTRO', type: 'secondary' },
      { text: 'Tailwind', type: 'secondary' },
    ],
    anchors: [
      {
        url: 'https://github.com/ChcJohnie/jan-shanel-web',
        type: 'code',
      },
    ],
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="grid">
    <div class="grid lg:grid-cols-2">
      <Header title={SITE_TITLE} />
      <section
        id="about"
        class="grid place-content-center p-8 lg:bg-stone-900 text-base lg:text-lg lg:text-slate-100 text-center"
      >
        <h2 class="mb-4 text-2xl font-bold">About me</h2>
        <div class="max-w-3xl space-y-4">
          <p>
            Hello, my name is Jan Sháněl and I come from the Czech Republic. I
            am a self taught web developer who likes to create highly
            interactive web applications. I like to study new possibilities of
            development tools and libraries to delivere best result to the user.
          </p>
          <p>
            My original field of study was geoinformatics and cartography. I
            believe it brought me the ability to think critically about
            application designs and requirements. In addition, I maintain an
            active awareness of maps and their libraries on the web.
          </p>
          <p>
            In my spare time, I enjoy riding my road bike or running through the
            woods with a map. As a more passive recreation, I won't turn down a
            good series or a computer game once in a while.
          </p>
        </div>
      </section>
    </div>

    <section
      id="skills"
      class="grid justify-items-center p-8 text-base text-center"
    >
      <h2 class="mb-4 text-2xl font-bold">Skills</h2>
      <div
        class="grid md:grid-cols-2 max-w-3xl md:space-x-8 space-y-4 md:space-y-0"
      >
        <div>
          <h3 class="text-lg font-semibold">Recently used</h3>
          <ul>
            <li>Vue3 in SPA mode (Pinia, PrimeVue)</li>
            <li>Plain JS + TS</li>
            <li>Astro static</li>
            <li>OpenLayers (map library)</li>
            <li>HTML + CSS (TailWind)</li>
            <li>NodeJS (Express)</li>
          </ul>
        </div>
        <div>
          <h3 class="text-lg font-semibold">More or less dated</h3>
          <ul>
            <li>React, AngularJs</li>
            <li>Leaflet, MapboxGL</li>
            <li>GIS analysis (QGIS)</li>
            <li>Python scripting</li>
            <li>DB management (Postgres + Postgis)</li>
          </ul>
        </div>
      </div>
    </section>
    <section
      id="portfolio"
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    >
      <h2 class="mb-4 text-2xl font-bold">Portfolio</h2>
      <div class="grid lg:grid-cols-2 2xl:grid-cols-3 gap-8">
        {portfolios.map((portfolio) => <PortfolioCard portfolio={portfolio} />)}
      </div>
    </section>
    <section
      id="contact"
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    >
      <h2 class="mb-4 text-2xl font-bold">Contact</h2>
      <div class="flex justify-items-center">
        <BaseButton
          link="https://github.com/ChcJohnie"
          type="text"
          style="plain"
          iconClass="text-4xl i-ph-github-logo hover:i-ph-github-logo-fill"
        />
        <BaseButton
          link="https://www.linkedin.com/in/jan-sháněl-b4abab131/"
          type="text"
          style="plain"
          iconClass="text-4xl i-ph-linkedin-logo hover:i-ph-linkedin-logo-fill"
        />
      </div>
    </section>

    <Footer
      class="grid place-items-center p-8 text-base md:text-lg text-center"
    />
  </body>
</html>
