---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="grid md:grid-cols-2">
    <Header title={SITE_TITLE} />
    <section
      id="about"
      class="grid place-items-center p-8 md:bg-stone-900 text-base md:text-lg md:text-slate-100 text-center"
    >
      <div class="space-y-2">
        <h2 class="text-2xl">About me</h2>
        <p>
          Hello, my name is Jan Sháněl and I come from the Czech Republic. I am
          a self taught web developer who likes to create highly interactive web
          applications. I like to study new possibilities that development tools
          and libraries offer for delivering the best possible result to the
          user.
        </p>
        <p>
          My original field of study was geoinformatics and cartography. I
          believe it brought me the ability to think critically about
          application designs and requirements. In addition, I maintain an
          active awareness of maps and their libraries on the web.
        </p>
        <p>
          In my spare time, I enjoy riding my road bike or running through the
          woods with a map. As a more passive recreation, I won't turn down a
          good series or a computer game once in a while.
        </p>
      </div>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      <ul>
        <li>
          Strong proficiency in HTML, CSS, JavaScript and front-end frameworks
          such as React and Angular
        </li>
        <li>
          Experience with responsive design, cross-browser compatibility and
          accessibility standards
        </li>
        <li>
          Knowledge of web development tools such as Git, Webpack, and NPM
        </li>
        <li>Familiarity with back-end technologies such as Node.js and PHP</li>
        <li>Ability to work independently and as part of a team</li>
      </ul>
    </section>
    <section id="portfolio">
      <h2>Portfolio</h2>
      <ul>
        <li>
          Developed and maintained multiple e-commerce websites for clients,
          resulting in improved user experience and increased sales
        </li>
        <li>
          Collaborated with designers and stakeholders to build a social media
          platform with advanced features such as real-time notifications and
          dynamic feeds
        </li>
        <li>
          Completed several freelance projects, including custom WordPress
          themes and JavaScript-based widgets
        </li>
        <li>
          Participated in hackathons and coding challenges, constantly pushing
          my limits and learning new technologies
        </li>
        <li>
          Completed a certification in Full-Stack Web Development from a
          reputable online learning platform.
        </li>
      </ul>
    </section>
    <section id="contact">
      <h2>Contact</h2>
      <p></p>
      <p></p>
      <p></p>
    </section>
    <Footer />
  </body>
</html>
