---
import { SITE_TITLE } from '../consts';
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <a href="#">Home</a>
    <a href="/blog">Blog</a>
    <a href="#about">About</a>
    <a href="https://twitter.com/astrodotbuild" target="_blank">Twitter</a>
    <a href="https://github.com/withastro/astro" target="_blank">GitHub</a>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
