---
import { SITE_TITLE } from '../consts';
---

<header class="h-80 p-2 pb-6 bg-stone-900 drop-shadow-2xl">
  <h1
    class="text-4xl py-4 text-white tracking-wider font-bold border border-green-400"
  >
    {SITE_TITLE}
  </h1>
  <div class="text-xl text-green-400 font-bold border border-green-400">
    <div class="i-ph-code-bold"></div>
    <div class="i-ph-map-trifold-bold"></div>
    <div class="i-ph-bicycle-fill"></div>
  </div>

  <div class="space-y-2 sm:hidden border border-green-400">
    <div class="w-8 px-1 h-0.5 bg-white"></div>
    <div class="w-8 h-0.5 bg-white"></div>
    <div class="w-8 px-1 h-0.5 bg-white"></div>
  </div>
  <nav
    class="text-xl uppercase text-white border border-green-400 hidden sm:block"
  >
    <a href="#">Home</a>
    <a href="#bio">Bio</a>
    <a href="#skills">Skills</a>
    <a href="#experiences">Experiences</a>
    <a href="#contact">Contact</a>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
