---
import { SITE_TITLE } from '../consts';
---

<header class="p-2">
  <h1 class="text-4xl py-4">
    {SITE_TITLE}
  </h1>
  <div class="text-xl">
    <div class="i-ph-code-bold"></div>
    <div class="i-ph-map-trifold-bold"></div>
    <div class="i-ph-bicycle-fill"></div>
  </div>

  <nav class="text-xl">
    <a href="#">Home</a>
    <a href="/blog">Blog</a>
    <a href="#about">About</a>
    <a href="https://twitter.com/astrodotbuild" target="_blank">Twitter</a>
    <a href="https://github.com/withastro/astro" target="_blank">GitHub</a>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
