---
import { SITE_TITLE } from '../consts';
---

<header id="large-header" class="h-screen bg-stone-900">
  <div
    id="small-header"
    class="absolute bottom-0 md:hidden h-20 p-6 w-full bg-stone-900 border border-green-400"
  >
    <span
      id="small-header-title"
      class="text-2xl text-white font-bold opacity-0 transition-opacity"
    >
      {SITE_TITLE}
    </span>
  </div>
  <button
    id="hamburger-menu"
    class="fixed top-4 right-4 md:hidden flex flex-col items-center space-y-2 p-2 border border-green-400"
  >
    <span
      class="w-8 h-1 bg-white active:drop-shadow-lg active:shadow-green-400"
    >
    </span>
    <span class="w-10 h-1 bg-white"></span>
    <span class="w-8 h-1 bg-white"></span>
  </button>
  <h1
    class="text-4xl py-4 text-white tracking-wider font-bold border border-green-400"
  >
    {SITE_TITLE}
  </h1>
  <div class="text-xl text-green-400 font-bold border border-green-400">
    <div class="i-ph-code-bold"></div>
    <div class="i-ph-map-trifold-bold"></div>
    <div class="i-ph-bicycle-fill"></div>
  </div>
  <nav
    class="fixed top-20 right-0 flex flex-col bg-slate-100 rounded-bl border-b border-l border-slate-800 invisible transition-[visibility] md:relative md:visible text-xl uppercase text-white"
  >
    <a href="#" class="text-black text-right px-4 py-2">Home</a>
    <a href="#bio" class="text-black text-right px-4 py-2">Bio</a>
    <a href="#skills" class="text-black text-right px-4 py-2">Skills</a>
    <a href="#experiences" class="text-black text-right px-4 py-2"
      >Experiences</a
    >
    <a href="#contact" class="text-black text-right px-4 py-2">Contact</a>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>

<script>
  const LARGE_HEADER_ID = 'large-header';
  const SMALL_HEADER_ID = 'small-header';
  const SMALL_HEADER_TITLE = 'small-header-title';
  const inClasses = ['absolute', 'bottom-0'];
  const outClasses = ['fixed', 'top-0'];
  const toggleSmallHeader = (entries: IntersectionObserverEntry[]) => {
    const [entry] = entries;
    if (!entry) return;
    const headerElement = document.getElementById(
      SMALL_HEADER_ID
    ) as HTMLDivElement;
    const titleElement = document.getElementById(
      SMALL_HEADER_TITLE
    ) as HTMLSpanElement;
    if (entry.isIntersecting) {
      headerElement.classList.add(...inClasses);
      headerElement.classList.remove(...outClasses);
      titleElement.classList.add('opacity-0');
      titleElement.classList.remove('opacity-100');
    } else {
      headerElement.classList.remove(...inClasses);
      headerElement.classList.add(...outClasses);
      titleElement.classList.remove('opacity-0');
      titleElement.classList.add('opacity-100');
    }
  };

  const observer = new IntersectionObserver(toggleSmallHeader, {
    rootMargin: '-90px 0px -90px 0px',
  });
  observer.observe(document.getElementById(LARGE_HEADER_ID) as HTMLElement);

  const navElement = document.querySelector('nav') as HTMLDivElement;
  let isToggledByHamburger = false;
  const toggleMobileMenu = () => {
    navElement.classList.toggle('invisible');
    isToggledByHamburger = !isToggledByHamburger;
  };

  document
    .getElementById('hamburger-menu')
    ?.addEventListener('click', toggleMobileMenu);
  navElement.addEventListener('click', () => {
    if (!isToggledByHamburger) return;
    toggleMobileMenu();
  });
</script>
